*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
h2{
    color: rgb(66, 66, 66);
}
section{
    padding: 10px 0px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col{
background-color: rgb(1, 170, 248);
border: 1px solid white;
min-height: 40px;
/* max-height: 40px;*/
 text-align: center;
 padding: 10px;

}



.nested{
    padding: 10px;
     
 }
 .nested > div{
    background-color: rgb(248, 149, 1);
    border: 1px solid rgb(1, 170, 248);
    min-height: 50px;
    text-align: center;
 } 

.start{
    justify-content: flex-start;
}
.center{
    justify-content:center;
}
.end{
    justify-content: flex-end;
}


.tall-column{
    min-height: 60px;
}
.top{
    align-items: flex-start;
}
.middle{
    align-items:center ;
}
.bottom{
    align-items: flex-end;
}


.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}